#bgON  {background-image: url(https://img.freepik.com/free-psd/gamer-background-with-accessories_1419-2365.jpg?w=1060&t=st=1660557820~exp=1660558420~hmac=a2955f5e093f85cd49c63735dce1795dbe819c1438b179335ae8c8ccfb88a69f);}
#bgOFF {background-image: none;}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(179, 152, 0);
}
#name_input {
    height: 40px;
    width: 200px;
}
#name_enter {
    height: 46px;
    width: 80px;
    position: fixed;
    left: 201px;
    font-size: large;
}
#name_inputX {
    height: 0px;
    width: 0px;
    border: 0px;
}
#name_enterX {
    height: 0px;
    width: 0px;
    font-size: 0px;
    border: 0px;
}
#Background {
     height: 85vh;
     width: 170vh;
     background-color: aqua;
     border: 5px black solid;
     margin: auto;
     position: relative;
}
#BackgroundX {
    height: 0px;
    width: 0px;
    border: 0px;
    font-size: 0px;
}
#play_button {
    height: 7vh;
    width: 14vw;
    background-color: gray;
    font-size: 40px;
    font-style: italic;
    font-family: Algerian;
    color: white;
    border-radius: 25px;
    text-align: center;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#Settings {
    height: 7vh;
    width: 14vw;
    background-color: gray;
    font-size: 40px;
    font-style: italic;
    font-family: Algerian;
    color: white;
    border-radius: 25px;
    text-align: center;
    position: relative;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -50%);
}
#Help {
    height: 7vh;
    width: 14vw;
    background-color: gray;
    font-size: 40px;
    font-style: italic;
    font-family: Algerian;
    color: white;
    border-radius: 25px;
    text-align: center;
    position: relative;
    top: 55%;
    left: 7.65%;
}
#play_buttonX {
    height: 0px;
    width: 0px;
    border: 0px;
    font-size: 0px;
    background-image: none;
}
#SettingsX {
    height: 0px;
    width: 0px;
    border: 0px;
    font-size: 0px;
    background-image: none;
}
#HelpX {
    height: 0px;
    width: 0px;
    border: 0px;
    font-size: 0px;
    background-image: none;
}
#InHelpX {
    font-size: 0px;
}
#InHelp {
    font-size: 30px;
    color: Red;
    font-family: Algerian;
}


/*Inside Help*/
#SettingsINX {
    height: 0px;
    width: 0px;
    border: 0px;
    font-size: 0px;
}
#SettingsIN {
    font-size: 20px;
    font-family: Algerian;
    color: white;
}
#BackgroundDX {
    height: 0px;
    width: 0px;
    border: 0px;
    font-size: 0px;
}
#ON_button   {background-color: lime;}
#ON_buttonX  {height: 0px; width: 0px; font-size: 0px; border: 0px;}
#OFF_button  {background-color: red;}
#OFF_buttonX {height: 0px; width: 0px; font-size: 0px; border: 0px;}