/*For Turning off any elemnt
    height: 0px;
    width: 0px;
    border: 0px;
    background: none;
    padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    font-size: 0px;
*/



* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(179, 152, 0);
}
/*ON*/
#bgON {
    background-image: url(https://img.freepik.com/free-psd/gamer-background-with-accessories_1419-2365.jpg?w=1060&t=st=1660557820~exp=1660558420~hmac=a2955f5e093f85cd49c63735dce1795dbe819c1438b179335ae8c8ccfb88a69f);
}
#bgOFF {
    background-image: none;
}
/*First Page*/
#name_input {
    height: 120px;
    width: 240px;
    font-size: 25px;
}
#name_enter {
    height: 126px;
    width: 240px;
    position: absolute;
    left: 254px;
    font-size: 50px;
}
#name_inputX {
    height: 0px;
    width: 0px;
    border: 0px;
}
#name_enterX {
    height: 0px;
    width: 0px;
    font-size: 0px;
    border: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
}
/*Secend page*/
#Background {
     height: 1080px;
     width: 1920px;
     background-color: aqua;
     border: 5px black solid;
     margin: auto;
     position: relative;
     max-width: 100%;
     max-height: 100%;
}
#BackgroundX {
    height: 0px;
    width: 0px;
    border: 0px;
    font-size: 0px;
}
#play_button {
    height: 7vh;
    width: 14vw;
    background-color: gray;
    font-size: 40px;
    font-style: italic;
    font-family: Algerian;
    color: white;
    border-radius: 25px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#Settings {
    height: 7vh;
    width: 14vw;
    background-color: gray;
    font-size: 40px;
    font-style: italic;
    font-family: Algerian;
    color: white;
    border-radius: 25px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#Help {
    height: 7vh;
    width: 14vw;
    background-color: gray;
    font-size: 40px;
    font-style: italic;
    font-family: Algerian;
    color: white;
    border-radius: 25px;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#play_buttonX {
    height: 0px;
    width: 0px;
    border: 0px;
    font-size: 0px;
    background-image: none;
    position: fixed;
    top: 0px;
    left: 0px;
}
#SettingsX {
    height: 0px;
    width: 0px;
    border: 0px;
    font-size: 0px;
    background-image: none;
    position: fixed;
    top: 0px;
    left: 0px;
}
#HelpX {
    height: 0px;
    width: 0px;
    border: 0px;
    font-size: 0px;
    background-image: none;
    position: fixed;
    top: 0px;
    left: 0px;
}
/*InHelp (Third page)*/
#InHelpX {
    font-size: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
}
#InHelp {
    font-size: 30px;
    color: Red;
    font-family: Algerian;
}


/*Inside Settings (Third page)*/
#SettingsINX {
    height: 0px;
    width: 0px;
    border: 0px;
    font-size: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
}
#SettingsIN {
    font-size: 20px;
    font-family: Algerian;
    color: white;
}
#BackgroundDX {
    height: 0px;
    width: 0px;
    border: 0px;
    font-size: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
}
#ON_button   {background-color: lime;}
#ON_buttonX  {height: 0px; width: 0px; font-size: 0px; border: 0px;}
#OFF_button  {background-color: red;}
#OFF_buttonX {height: 0px; width: 0px; font-size: 0px; border: 0px;}

/*In PLAY*/
#Gbg {
    height: 10%;
    width: 80%;
    border: 1px;
    background-color: gray;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}
#playerX {
    height: 0px;
    width: 0px;
    font-size: 0px;
    border: 0px;
    background: none;
}
#rockX {
    height: 0px;
    width: 0px;
    font-size: 0px;
    border: 0px;
    background: none;
}
#lineX {
    height: 0px;
    width: 0px;
    font-size: 0px;
    border: 0px;
    background: none;
}
#back2 {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #555;
	border-bottom: 25px solid transparent;
    background:  none;
}
#back3 {
    height: 50px;
    width: 50px;
    background: none;
    border: 2px;
}
#back2X {
    height: 0px;
    width: 0px;
    border: 0px;
    background: none;
    padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    font-size: 0px;
}
#back3X {
    height: 0px;
    width: 0px;
    border: 0px;
    background: none;
    padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    font-size: 0px;
}
#name {
    height: 50px;
    width: 400px;
    border: 2px black solid;
    margin: auto;
    background-color: yellow;
    font-size: large;
    text-align: center;
    color: black;
}
#score {
    height: 50px;
    width: 400px;
    border: 2px black solid;
    margin: auto;
    background-color: green;
}
#nameX {
    height: 0px;
    width: 0px;
    border: 0px;
    background: none;
    padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    font-size: 0px;
}
#scoreX {
    height: 0px;
    width: 0px;
    border: 0px;
    background: none;
    padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    font-size: 0px;
}